body{
    background-color: aqua;
    font-size: 40px;
    margin: 0px;
    width: auto;
    height: auto;
    font-family:Arial, Helvetica, sans-serif;
}
#main{
    text-align: center;
    text-decoration: blueviolet;
    padding: 3%;
    color: rgb(95, 52, 11);
}
a{
    color: rgb(52, 54, 170);
    font-size: 30px;
    text-decoration: none;
}
a:hover{
    color: rgb(140, 219, 224);
}
#tab{
    background-color: cornflowerblue;
    border-bottom: 2px solid rgb(155, 150, 150);
}